@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blinking {
    animation: blink 3s infinite;
}

.blinking-onetime {
    animation: blink 1s ease-in-out;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Impede que o vídeo intercepte cliques */
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Azul com opacidade */
    z-index: 998;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .loading-container {
    display: none   ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999; /* Z-index maior que o do overlay */
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .loading-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #fff; /* Altere a cor do ícone de acordo com o fundo */
    align-items: center;
    justify-content: center;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  .loading-text {
    font-size: 20px;
    color: #fff;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }